.header_tab {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(177, 212, 195);


  .link {
    height: 100%;
    // min-width: 15%;
    text-align: center;
    
    
    &_inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;

      .img {
        margin: 0;
        padding: 8px 10px 0 0;

      }
      a {
        display: block;
        font-size: 150%;
        font-weight: bold;
        line-height: 60px;
        color: #000;
        &:hover {
          background-color: rgba(0, 0, 0, 0.219);
        }
      }
    }
  }
}

// タブレットサイズ以下レスポンシブ
@media screen and (max-width: 1400px) {
  .header_tab {
    width: 60%;
    .link {
      &_inner {
        a {
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .header_tab {
    width: 65%;
    .link {
      &_inner {
        a {
          font-size: 100%;
        }
      }
      font-size: 100%;
    }
  }
}

/* スマホサイズ以下レイアウト */
@media screen and (max-width: 639px) {
  .header_tab {
    display: none;
  }
}