
.container {
  background-color: rgba(255, 200, 200, 0.7);

  .image {
    height: 500px;
    max-width: 80%;
    position: relative;
    margin: 0 auto;
  }

  .text {
    
    white-space: pre-wrap;

    ul {
      padding-top: 5px;
      background-color: white;
      border: 3px solid #000;
    }

    a {
      display: inline-block;
      margin: 0 0 10px 0;
      cursor: pointer;
      
    }
  }
}

// タブレットサイズ以下レスポンシブ
@media screen and (max-width: 1024px) {
  .container {
    .image {
      height: 300px;
      max-width: 100%;
    }
  }
}
// スマホサイズ以下レスポンシブ
@media screen and (max-width: 639px) {
  .container {
    .image {
      height: 200px;
    }
  }
}
