.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // background-color: rgb(243, 242, 242);
  background-image: url('../public/images/bgImg.jpg');
  background-attachment: fixed;

  .main {
    height: 100%;
    max-width: 100%;
    margin: 0 10% 0 10%;
    padding: 80px 0 50px 0;
  
  
    .backToHome {
      margin-top: 30px;
      padding: 10px 0 10px 20px;
      border-top: 2px dotted #000;
      border-bottom: 2px dotted #000;
      font-weight: bold;
      background-color: rgb(255, 255, 255);
    }
  }
}


// タブレットサイズ以下レスポンシブ
@media screen and (max-width: 1024px) {
  .container {
    .main {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

// タブレットサイズ以下レスポンシブ
@media screen and (max-width: 639px) {

}